<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login_sequeface</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <style>
   
   body {
    background: whitesmoke;
   }
    
    /* button.nueva {
      margin: 1rem auto;
    } */
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4 mt-5">
        <h3 class="text-center text-primary fw-bold">facebook</h3>
        <form action="/login" method="post" class="bg-white mt-4 p-4 text-white shadow rounded">
          <div class="mb-3">
            <!-- <label for="exampleInputEmail1" class="form-label">Email</label> -->
            <input type="email" class="form-control" name="email" placeholder="Correo elctrónico o numero de teléfono">
            <!-- <div id="emailHelp" class="form-text text-white">Jamás compartiremos tus datos con otra persona.</div> -->
          </div>
          <div class="mb-3">
            <!-- <label for="exampleInputPassword1" class="form-label">Password</label> -->
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
          </div>
          <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary fw-bold">Iniciar sesión</button>
        </div>
          <div class="mb-3">
            <h6 class="text-center text-primary fw-bold mt-2">¿Has olvidado la contraseña?</h6>
            <hr>
            
            <div class="d-grid gap-2 col-8 mx-auto">
              <button type="submit" class="btn btn-success btn-lg nueva float-none nueva align-middle">Crear cuenta nueva</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>